<html>
	<head>
		<title>Nastys Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Nastys Blog</a></h1>
		</div>

		<div>
			<p>published: 16.10.2019, 14:41</p>
			<h2><a href="">My first post</a></h2>
			<p>Das hier ist irgendein beliebiger Beispieltext zum Testen. Was geht ab, skidibap?</p>
		</div>

		<div>
			<p>published: 16.10.2019, 14:43</p>
			<h2><a href="">My second post</a></h2>
			<p>Das hier ist irgendein weiterer beliebiger Beispieltext zum Testen. Was geht jetzt ab, skidibap?</p>
		</div>
	</body>
</html>
